.container_inner{
    margin-top: 112px;
}
.saidBar{
    width: 20vh;
    h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 33px;
        line-height: 43px;
        color: #000000;
    }
    form{
        input{
            width: 261px;
            height: 30px;
            font-size: 17px;
            border: none;
        }
        span{
            width: 261px;
            border: 1px solid #D8D8D8;
            display: flex;
            margin-top: 8px;
        }
    }
    .c_h2{
        margin-top: 62px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-transform: capitalize;
        color: #000000;
    }
    .c_list{
        list-style-type: none;
        color: #707070;
        li{
            width: 10px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
        }
    }
}
.c_card{
    .card1{
        margin-left: 300px;
        margin-top: -235px;
        img{
            width: 380px;
            height: 250px;
            border-radius: 8px;
        }
        p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #707070;
            margin-top: 22px;

        }
        h3{
            margin-top: 5px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
        }
        h4{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            width: 370px;
            line-height: 27px;
            color: #707070;
            margin-top: 14px;
        }
        button{
            margin-top: 24px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #A18A68;
            border: none;
        }
    }
    .card2{
        margin-left: 750px;
        margin-top: -440px;
        img{
            width: 380px;
            height: 250px;
            border-radius: 8px;
        }
        p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #707070;
            margin-top: 22px;

        }
        h3{
            margin-top: 5px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
        }
        h4{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            width: 370px;
            line-height: 27px;
            color: #707070;
            margin-top: 14px;
        }
        button{
            margin-top: 24px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #A18A68;
            border: none;
        }
    }
    .card3{
        margin-left: 750px;
        margin-top: 0px;
        margin-top: 64px;
        img{
            width: 380px;
            height: 250px;
            border-radius: 8px;
        }
        p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #707070;
            margin-top: 22px;

        }
        h3{
            margin-top: 5px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
        }
        h4{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            width: 370px;
            line-height: 27px;
            color: #707070;
            margin-top: 14px;
        }
        button{
            margin-top: 24px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #A18A68;
            border: none;
        }
    }
    .card4{
        margin-left: 300px;
        margin-top: -440px;
        img{
            width: 380px;
            height: 250px;
            border-radius: 8px;
        }
        p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #707070;
            margin-top: 22px;

        }
        h3{
            margin-top: 5px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
        }
        h4{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            width: 370px;
            line-height: 27px;
            color: #707070;
            margin-top: 14px;
        }
        button{
            margin-top: 24px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #A18A68;
            border: none;
        }
    }
}