.saidbar {
    width: 19%;
    
    .saidbar__inner {
        margin-top: 96px;

        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            color: #000000;
        }

        form {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 35px;

            input {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                border: none;
                border-bottom: 1px solid #D8D8D8;
                width: 236px;
                outline: none;
                color: #707070;
            }

            img {
                width: 19px;
                height: 19px;
            }
        }

        select {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            display: block;
            padding: 16px 110px 16px 12px;
            outline: none;
            color: #000000;
            border: 1px solid #D8D8D8;
            margin-top: 39px;
            border-radius: 4px;
        }
    }
}