.blog__main {
    .blog__main-list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .blog__main-item {
        img {
            width: 400px;
            height: 300px;
            object-fit: cover;
            border-radius: 8px;
        }

        h3 {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin-top: 15px;
            color: #000000;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            margin-top: 14px;
            width: 400px;
            height: 54px;
            overflow: hidden;
            color: #707070;
        }

        a {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            margin-top: 24px;
            display: inline-block;
            color: #A18A68;
        }
    }
}