.home__main {
    .home__main-boxs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }

    .box-1 {
        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 33px;
            color: #000000;
        }
    }

    .box-2 {
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            text-transform: capitalize;
            text-decoration: none;
            color: #A18A68;
        }
    }

    .home__main-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;

        .home__main-item {
            margin: 29px 0;

            img {
                width: 377px;
                height: 380px;
                border-radius: 8px;
            }

            h2 {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                margin-top: 24px;
                color: #000000;
            }

            span {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                text-transform: capitalize;
                margin-top: 16px;
                color: #A18A68;
            }
        }
    }
}