.our {
    margin-top: 4px;

    .our__inner {
        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            font-feature-settings: 'salt' on, 'liga' off;
            color: #0F1113;
        }

        .our-services {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
        }

        .our-service {
            span {
                font-style: normal;
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                font-feature-settings: 'salt' on, 'liga' off;
                color: #FF4D4D;
            }

            p {
                width: 296px;
                margin-top: 4px;
            }
        }
    }
}

@media (min-width: 0) and (max-width:375px) {
    .our {
        margin-top: 6px;
    
        .our__inner {
            h2 {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                font-feature-settings: 'salt' on, 'liga' off;
                color: #0F1113;
            }
    
            .our-services {
                display: flex;
                flex-direction: column;
                margin-top: 0;
            }
    
            .our-service {
                margin-top: 16px;

                span {
                    font-style: normal;
                    font-weight: 800;
                    font-size: 32px;
                    line-height: 48px;
                    font-feature-settings: 'salt' on, 'liga' off;
                    color: #FF4D4D;
                }
    
                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    width: 313px;
                    height: 28px;
                    margin-top: 4px;
                    font-feature-settings: 'salt' on, 'liga' off;
                }
            }
        }
    }
}