.footer {
    margin-top: 240px;

    .liner {
        width: 1200px;
        border: 1px solid #D8D8D8;
    }

    .footer__inner {
        margin-top: 50px;

        .footer__inner-nav {
            display: flex;
            align-items: center;

            .nav-right {
                .right-list {
                    padding: 0;
                    list-style-type: none;
                }

                .right-item {
                    a {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        display: inline-block;
                        margin: 0 5px;
                        text-decoration: none;
                        color: #707070;
                    }
                }
            }

            .nav-left {
                margin-left: 446px;

                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: none;
                    margin-right: 60px;
                    color: #707070;
                }

                .left-liner {
                    width: 366x;
                    margin-top: 13px;
                    border: 1px solid #000000;
                }
            }
        }

        .footer__inner-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 50px 0 100px 0;

            .info-text {
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: #000000;
                }
            }

            .social-media {
                img {
                    margin: 0 15px;
                }
            }
        }
    }
}