.footer {
    background: #F2F5F9;
    padding: 32px 0 24px 0;
  }
  
  .footer-wrap {
    display: flex;
  }
  
  .footer-wrap-link {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #A1ABB9;
      display: block;
      margin: 20px 0;
      text-decoration: none;
  }
  
  .footer-list {
    display: flex;
    margin-left: 166px;
  }
  .footer-item {
    display: block;
    width: 253.33px;
    margin-bottom: 20px;
    margin-right: 112.67px;
  }
  
  .footer-item-link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #263141;
    margin-bottom: 20px;
    display: block;
  }
  
  .footer-item-link1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A1ABB9;
  }
  
  .footer-item-link2 {
    margin-bottom: 41px;
  }
  
  .footer-last-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7E8794;
    text-decoration: none;
  }
  
  @media (max-width: "375px") {
    .footer-wrap {
      display: block;
    }
    .footer-list {
      display: block;
      margin-left: 0px;
      margin-top: 24px;
    }
    .footer-last-link {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #7E8794;
      text-decoration: none;
    }  
}