.buy {
    .buy__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 120px;

        .products__img {
            display: flex;
            flex-direction: column;
            width: 180px;
            height: 590px;
            overflow: hidden;
        }

        .products__img-list {
            list-style-type: none;
        }

        .products__img-item {
            display: inline-block;
            margin: 15px 0;
            
            a {
                display: inline-block;
                width: 100%;
                height: 100%;

                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 8px;
                    object-fit: cover;
                }
            }
        }

        .product__img {
            img {
                width: 540px;
                height: 600px;
                border-radius: 8px;
                object-fit: cover;
            }
        }
        .product__info {
            h2 {
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                color: #000000;
            }

            .star {
                margin-top: 64px;
            }

            span {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                margin-top: 23px;
                text-transform: capitalize;
                color: #A18A68;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                margin-top: 19px;
                width: 414px;
                height: 108px;
                color: #707070;
            }

            .add-btn {
                display: flex;
                align-items: center;
                margin-top: 48px;
            }

            .quantity {
                background: #EFEFEF;
                border-radius: 4px;

                .quantity-add {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    border: none;
                    padding: 14px 6px 14px 16px;
                    outline: none;
                    color: #707070;
                }

                .total-price {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    padding: 14px 6px 14px 6px;
                    color: #707070;
                }

                .quantity-remove {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    padding: 14px 16px 14px 12px;
                    color: #707070;
                }
            }

            .cart-btn {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                padding: 16px 117px;
                color: #000000;
                border: 1px solid #000000;
                margin-left: 23px;
                border-radius: 4px
            }
            .social-media {
                margin-top: 80px;

                img {
                    margin: 0 12px;
                }
            }
        }
    }
}