.search__main {

    .search__main-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;
        margin-top: 134px;

        .search__main-item {
            margin: 24px 0;

            img {
                width: 300px;
                height: 300px;
                border-radius: 8px;
                object-fit: cover;
            }

            h2 {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                margin-top: 24px;
                color: #000000;
            }

            span {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                margin-top: 16px;
                text-transform: capitalize;
                color: #A18A68;
            }
        }
    }
}